main{
    padding: 0;
}

.boxGame{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    max-width: 700px;
}

.boxGame h2{
  text-align: center;
  padding: 0 1rem;
}

.boxGame .game{
  display: flex;
  gap: 1rem;
}
  
img{
  width: 5rem;
  height: 5rem;
}

.boxGame .game h1{
  display: flex;
  margin-bottom: 0.3rem;
  align-items: flex-end;
}

.boxGame .game .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 12.1rem;
  justify-content: space-between;
}


.boxGame .game .macas, .boxGame .game .laranjas{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.boxGame input{
  border: 1px solid gray;
  height: 3rem;
  width: 12rem;
  text-align: center;
  font-size: 40px;
  border-radius: 0.5rem;
}

.boxGame  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

.boxGame .boxResult{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.boxGame button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #0298cf;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    color: white;
}

.boxGame button:hover{
    box-shadow: none;
}

.boxGame .error{
    color: #D8000C;
    background-color: #FFBABA;
}

.boxConf{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.boxInit{
  display: flex;
  width: 60vw;
  max-width: 250px;
  background: gainsboro;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: .2rem .2rem .2rem gray;
  text-align: center;
  align-items: center;
}
  
.boxInit:hover{
  box-shadow: none;
}

.boxInit details{
  margin-top: 1rem;
  font-size: 1rem;
}

.boxInit details p{
  text-align: justify;
}
  
.boxInit h1{
  text-shadow: .1rem .1rem white;
}
  
select {
  background-color: #0563af;
  color: white;
  padding: .5rem;
  border: none;
  font-weight: bold;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  width: fit-content;
  outline: none;
  border-radius: .5rem;
  margin: 1.5rem 0;
  cursor: pointer;
}
  
select:hover{
  box-shadow: none;
}

.boxInit .boxBtns{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}

.boxInit button{
  border-radius: .5rem;
  cursor: pointer;
  padding: .5rem .75rem;
  box-shadow: .2rem .2rem .2rem grey;
  background-color: #000;
  font-weight: bold;
  color: white;
}

.boxInit button:hover{
  box-shadow: none;
}

.boxInit .jogar{
  background-color: #0298cf;
  box-shadow: 0.2rem 0.2rem 0.2rem grey;
}